<a href="https://colab.research.google.com/github/asmit-ayank/UML501/blob/main/Assignment_2_UML501.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 2 - Asmit Ayank (102497002)

In [ ]:
import kagglehub

path = kagglehub.dataset_download("jahias/microsoft-adventure-works-cycles-customer-data")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/microsoft-adventure-works-cycles-customer-data

In [ ]:
import numpy as np
import pandas as pd

data_cus=pd.read_csv('/kaggle/input/microsoft-adventure-works-cycles-customer-data/AWCustomers.csv')
data_sales=pd.read_csv('/kaggle/input/microsoft-adventure-works-cycles-customer-data/AWSales.csv')

In [ ]:
data_cus.head()

   CustomerID Title FirstName  ... TotalChildren YearlyIncome LastUpdated
0       21173   NaN      Chad  ...             1        81916  2017-03-06
1       13249   NaN      Ryan  ...             2        81076  2017-03-06
2       29350   NaN     Julia  ...             0        86387  2017-03-06
3       13503   NaN  Theodore  ...             2        61481  2017-03-06
4       22803   NaN  Marshall  ...             0        51804  2017-03-06

[5 rows x 24 columns]

In [ ]:
data_sales.head()

   CustomerID  BikeBuyer  AvgMonthSpend
0       21173          1          50.97
1       13249          1          53.11
2       29350          1          54.08
3       13503          1          56.93
4       22803          1          55.41

(a) Examine the values of each attribute and Select a set of attributes only that would affect to predict future bike buyers to create your input for data mining algorithms. Remove all the unnecessary attributes. (Select features just by analysis).

To select important features let's first display all available attributes

In [ ]:
data_cus.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [ ]:
data_sales.columns

Index(['CustomerID', 'BikeBuyer', 'AvgMonthSpend'], dtype='object')

In [ ]:
data_sales.drop(['CustomerID'],axis=1,inplace=True)

(b) Create a new Data Frame with the selected attributes only.

In [ ]:
df=pd.concat([data_cus,data_sales],axis=1)

In [ ]:
df.head()

   CustomerID Title FirstName  ... LastUpdated BikeBuyer AvgMonthSpend
0       21173   NaN      Chad  ...  2017-03-06       1.0         50.97
1       13249   NaN      Ryan  ...  2017-03-06       1.0         53.11
2       29350   NaN     Julia  ...  2017-03-06       1.0         54.08
3       13503   NaN  Theodore  ...  2017-03-06       1.0         56.93
4       22803   NaN  Marshall  ...  2017-03-06       1.0         55.41

[5 rows x 26 columns]

In [ ]:
df.shape

(18361, 26)

**Part I: Based on Feature Selection, Cleaning, and Preprocessing to Construct an Input from Data
Source**

(a) Examine the values of each attribute and Select a set of attributes only that would affect to predict
future bike buyers to create your input for data mining algorithms. Remove all the unnecessary
attributes. (Select features just by analysis).

In [ ]:
# Removing irrelevant Columns
df.drop(['Title','Suffix','Education','MaritalStatus','Occupation','Gender','PhoneNumber','MiddleName'],axis=1,inplace=True)

In [ ]:
df.columns

Index(['CustomerID', 'FirstName', 'LastName', 'AddressLine1', 'AddressLine2',
       'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode',
       'BirthDate', 'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
       'TotalChildren', 'YearlyIncome', 'LastUpdated', 'BikeBuyer',
       'AvgMonthSpend'],
      dtype='object')

In [ ]:
df['NumberChildrenAtHome'].unique()

array([0, 1, 2, 3])

In [ ]:
df['HomeOwnerFlag'].unique()

array([1, 0])

In [ ]:
print(df['BikeBuyer'].unique())
print(df['BikeBuyer'].isnull().sum())

[ 1.  0. nan]
6

In [ ]:
df['AddressLine2'].isnull().sum()

np.int64(18050)

In [ ]:
df.shape[0]

18361

In [ ]:
#As most of the data values are missing from column 'AddressLine2', we'll remove it.
df.drop(['AddressLine2'],axis=1,inplace=True)

In [ ]:
df.describe()

         CustomerID  HomeOwnerFlag  ...    BikeBuyer  AvgMonthSpend
count  18361.000000   18361.000000  ...  18355.00000   18355.000000
mean   20241.987092       0.610588  ...      0.55173      51.767207
std     5336.332731       0.487630  ...      0.49733       3.438024
min    11000.000000       0.000000  ...      0.00000      44.100000
25%    15621.000000       0.000000  ...      0.00000      49.410000
50%    20248.000000       1.000000  ...      1.00000      51.420000
75%    24863.000000       1.000000  ...      1.00000      53.600000
max    29483.000000       1.000000  ...      1.00000      65.290000

[8 rows x 8 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   FirstName             18361 non-null  object
 2   LastName              18361 non-null  object
 3   AddressLine1          18361 non-null  object
 4   City                  18361 non-null  object
 5   StateProvinceName     18361 non-null  object
 6   CountryRegionName     18361 non-null  object
 7   PostalCode            18361 non-null  object
 8   BirthDate             18361 non-null  object
 9   HomeOwnerFlag         18361 non-null  int64
 10  NumberCarsOwned       18361 non-null  int64
 11  NumberChildrenAtHome  18361 non-null  int64
 12  TotalChildren         18361 non-null  int64
 13  YearlyIncome          18361 non-null  int64
 14  LastUpdated           18361 non-null  object
 15  BikeBuyer             18355 non-null  float64
 16  AvgMonthSpend         18355 non-null  float64
dtypes: float64(2), int64(6), object(9)
memory usage: 2.4+ MB

In [ ]:
df=df.astype({'BirthDate': 'datetime64[ns]'},copy=False)
df=df.astype({'LastUpdated': 'datetime64[ns]'},copy=False)

(c) Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of each attribute in your selection to identify preprocessing tasks to create input for your data mining.

In [ ]:
var_cat=[]
var_num=[]
for c in df.columns:
    if df[c].dtype=='object':
        var_cat.append(c)
    if (df[c].dtype=='int64'or df[c].dtype=='float64'):
         var_num.append(c)

In [ ]:
print("Categorical Variables: ",var_cat)
print("Numerical variables: ",var_num)

Categorical Variables:  ['FirstName', 'LastName', 'AddressLine1', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode']
Numerical variables:  ['CustomerID', 'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome', 'BikeBuyer', 'AvgMonthSpend']

In [ ]:
num_discrete=[]
num_continuous=[]
for c in var_num:
    if df[c].dtype=='int64':
        num_discrete.append(c)
    elif df[c].dtype=='float64':
        num_continuous.append(c)

In [ ]:
print("Discrete: ",num_discrete)
print("Continuous: ",num_continuous)

Discrete:  ['CustomerID', 'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']
Continuous:  ['BikeBuyer', 'AvgMonthSpend']

**Part II: Data Preprocessing and Transformation**

Depending on the data type of each attribute, transform each object from your preprocessed data.

Use all the data rows (~= 18000 rows) with the selected features as input to apply all the tasks below, do
not perform each task on the smaller data set that you got from your random sampling result.

(a) Handling NULL values

In [ ]:
df.isnull().sum()

CustomerID              0
FirstName               0
LastName                0
AddressLine1            0
City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
BirthDate               0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
LastUpdated             0
BikeBuyer               6
AvgMonthSpend           6
dtype: int64

In [ ]:
df[df['BikeBuyer'].isnull()]

       CustomerID FirstName LastName  ... LastUpdated BikeBuyer AvgMonthSpend
18355       14522      Omar    Zheng  ...  2017-03-06       NaN           NaN
18356       25414     Grace   Bailey  ...  2017-03-06       NaN           NaN
18357       11459     Tasha     Deng  ...  2017-03-06       NaN           NaN
18358       12160    Jaclyn    Zhang  ...  2017-03-06       NaN           NaN
18359       14353      Erin     Reed  ...  2017-03-06       NaN           NaN
18360       16676    Amanda    Perry  ...  2017-03-06       NaN           NaN

[6 rows x 17 columns]

In [ ]:
(df.isnull().sum()/df.shape[0])*100

CustomerID              0.000000
FirstName               0.000000
LastName                0.000000
AddressLine1            0.000000
City                    0.000000
StateProvinceName       0.000000
CountryRegionName       0.000000
PostalCode              0.000000
BirthDate               0.000000
HomeOwnerFlag           0.000000
NumberCarsOwned         0.000000
NumberChildrenAtHome    0.000000
TotalChildren           0.000000
YearlyIncome            0.000000
LastUpdated             0.000000
BikeBuyer               0.032678
AvgMonthSpend           0.032678
dtype: float64

In [ ]:
df.dropna(axis=0,inplace=True)

In [ ]:
df=df.astype({'BikeBuyer': 'int64'},copy=False)

(b) Normalization (Scaling)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df['AvgMonthSpend_Normalised']=scaler.fit_transform(df['AvgMonthSpend'].values.reshape(-1,1))
df['YearlyIncome_Normalised']=scaler.fit_transform(df['YearlyIncome'].values.reshape(-1,1))

In [ ]:
len(df['YearlyIncome'].value_counts().index)

15351

In [ ]:
bin_YearlyIncome=np.arange(min(df['YearlyIncome']),max(df['YearlyIncome']),20000)
len(bin_YearlyIncome)
YearlyIncome_label=['below low','low','Medium','above medium','High']

In [ ]:
df['YearlyBinned']=pd.cut(df['YearlyIncome'],bins=bin_YearlyIncome,labels=YearlyIncome_label)

In [ ]:
print(max(df['AvgMonthSpend']))
print(min(df['AvgMonthSpend']))

65.29
44.1

In [ ]:
bin_AvgMonthSpend=np.arange(min(df['AvgMonthSpend']),max(df['AvgMonthSpend']),5)
len(bin_AvgMonthSpend)
label_AvgMonthSpend=['Low','Medium','Above Medium','High']

In [ ]:
df['AvgMonthSpend_binned']=pd.cut(df['AvgMonthSpend'],bins=bin_AvgMonthSpend,labels=label_AvgMonthSpend)

(e) Binarization (One Hot Encoding)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder=OneHotEncoder()
onehotencoder.fit_transform(df['HomeOwnerFlag'].values.reshape(-1,1))

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 18355 stored elements and shape (18355, 2)>

**Part III: Calculating Proximity /Correlation Analysis of two features**

Make sure each attribute is transformed in a same scale for numeric attributes and Binarization for each
nominal attribute, and each discretized numeric attribute to standardization. Make sure to apply a correct
similarity measure for nominal (one hot encoding)/binary attributes and numeric attributes respectively.

(a) Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two following objects of your transformed input data.

In [ ]:
def jaccard(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return float(intersection) / union

In [ ]:
jaccard(df['YearlyIncome'],df['AvgMonthSpend'])

0.0

In [ ]:
jaccard(df['NumberChildrenAtHome'],df['BikeBuyer'])

5.448403617740002e-05

(b) Calculate Correlation between two features Average Month Spend and Yearly Income

In [ ]:
df['YearlyIncome'].corr(df['AvgMonthSpend'])

np.float64(0.012202883547392651)